In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
pd.read_csv('new.csv')

         Name  Age     City
0    Person_1   20   City_1
1    Person_2   21   City_2
2    Person_3   22   City_3
3    Person_4   23   City_4
4    Person_5   24   City_5
5    Person_6   25   City_6
6    Person_7   26   City_7
7    Person_8   27   City_8
8    Person_9   28   City_9
9   Person_10   29  City_10
10  Person_11   30  City_11
11  Person_12   31  City_12
12  Person_13   32  City_13
13  Person_14   33  City_14
14  Person_15   34  City_15
15  Person_16   35  City_16
16  Person_17   36  City_17
17  Person_18   37  City_18
18  Person_19   38  City_19
19  Person_20   39  City_20
20  Person_21   40  City_21
21  Person_22   41  City_22
22  Person_23   42  City_23
23  Person_24   43  City_24
24  Person_25   44  City_25
25  Person_26   45  City_26
26  Person_27   46  City_27
27  Person_28   47  City_28
28  Person_29   48  City_29
29  Person_30   49  City_30

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('practice').getOrCreate()

In [7]:
spark

In [8]:
df_py=spark.read.csv('new.csv')

In [9]:
df_py

DataFrame[_c0: string, _c1: string, _c2: string]

In [10]:
df_py.show()

+---------+---+-------+
|      _c0|_c1|    _c2|
+---------+---+-------+
|     Name|Age|   City|
| Person_1| 20| City_1|
| Person_2| 21| City_2|
| Person_3| 22| City_3|
| Person_4| 23| City_4|
| Person_5| 24| City_5|
| Person_6| 25| City_6|
| Person_7| 26| City_7|
| Person_8| 27| City_8|
| Person_9| 28| City_9|
|Person_10| 29|City_10|
|Person_11| 30|City_11|
|Person_12| 31|City_12|
|Person_13| 32|City_13|
|Person_14| 33|City_14|
|Person_15| 34|City_15|
|Person_16| 35|City_16|
|Person_17| 36|City_17|
|Person_18| 37|City_18|
|Person_19| 38|City_19|
+---------+---+-------+
only showing top 20 rows

In [11]:
dfspark=spark.read.option('header','true').csv('new.csv').show()

+---------+---+-------+
|     Name|Age|   City|
+---------+---+-------+
| Person_1| 20| City_1|
| Person_2| 21| City_2|
| Person_3| 22| City_3|
| Person_4| 23| City_4|
| Person_5| 24| City_5|
| Person_6| 25| City_6|
| Person_7| 26| City_7|
| Person_8| 27| City_8|
| Person_9| 28| City_9|
|Person_10| 29|City_10|
|Person_11| 30|City_11|
|Person_12| 31|City_12|
|Person_13| 32|City_13|
|Person_14| 33|City_14|
|Person_15| 34|City_15|
|Person_16| 35|City_16|
|Person_17| 36|City_17|
|Person_18| 37|City_18|
|Person_19| 38|City_19|
|Person_20| 39|City_20|
+---------+---+-------+
only showing top 20 rows

In [12]:
dfspark=spark.read.option('header','true').csv('new.csv')

In [13]:
type(dfspark)

pyspark.sql.dataframe.DataFrame

In [14]:
dfspark.head()

Row(Name='Person_1', Age='20', City='City_1')

In [15]:
dfspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- City: string (nullable = true)

- pyspark datasframe
- reading dataset
- checking datatypes of column
- selecting columns and indexing
- check describe option similar to pandas
- adding columns
- dropping columns

In [16]:

from pyspark.sql import SparkSession

In [17]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [18]:
df_spark=spark.read.option('header','true').csv('sal.csv')

In [19]:
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

In [20]:
df_spark=spark.read.option('header','true').csv('sal.csv',inferSchema=True)
df_spark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: string (nullable = true)

In [21]:
df_spard=spark.read.csv('sal.csv',header=True,inferSchema=True)
df_spark.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|ajas| 23|     1 yrs|
|arun| 24|     3 yrs|
|jais| 27|     7 yrs|
+----+---+----------+

In [22]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [23]:
df_spark.columns

['name', 'age', 'experience']

In [24]:
df_spark.head(3)

[Row(name='ajas', age=23, experience='1 yrs'),
 Row(name='arun', age=24, experience='3 yrs'),
 Row(name='jais', age=27, experience='7 yrs')]

In [25]:
df_spark.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|ajas| 23|     1 yrs|
|arun| 24|     3 yrs|
|jais| 27|     7 yrs|
+----+---+----------+

In [26]:
df_spark.select('name').show()

+----+
|name|
+----+
|ajas|
|arun|
|jais|
+----+

In [27]:
df_spark.select(['name','age']).show()

+----+---+
|name|age|
+----+---+
|ajas| 23|
|arun| 24|
|jais| 27|
+----+---+

In [28]:
df_spark['name']

Column<'name'>

In [29]:
df_spark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'string')]

In [30]:
df_spark.describe()

DataFrame[summary: string, name: string, age: string, experience: string]

In [31]:
df_spark.describe().show()

+-------+----+------------------+----------+
|summary|name|               age|experience|
+-------+----+------------------+----------+
|  count|   3|                 3|         3|
|   mean|NULL|24.666666666666668|      NULL|
| stddev|NULL|2.0816659994661326|      NULL|
|    min|ajas|                23|     1 yrs|
|    max|jais|                27|     7 yrs|
+-------+----+------------------+----------+

#### adding and removing columns

In [32]:
from pyspark.sql.functions import concat, lit

In [33]:
df_spark = df_spark.withColumn('fullname', concat(df_spark['name'], lit('.sr')))

In [34]:
df_spark.show()

+----+---+----------+--------+
|name|age|experience|fullname|
+----+---+----------+--------+
|ajas| 23|     1 yrs| ajas.sr|
|arun| 24|     3 yrs| arun.sr|
|jais| 27|     7 yrs| jais.sr|
+----+---+----------+--------+

In [35]:
df_spark.columns

['name', 'age', 'experience', 'fullname']

### drop columns

In [36]:


df_spark.drop('fullname').show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|ajas| 23|     1 yrs|
|arun| 24|     3 yrs|
|jais| 27|     7 yrs|
+----+---+----------+

In [37]:
df_spark.show()

+----+---+----------+--------+
|name|age|experience|fullname|
+----+---+----------+--------+
|ajas| 23|     1 yrs| ajas.sr|
|arun| 24|     3 yrs| arun.sr|
|jais| 27|     7 yrs| jais.sr|
+----+---+----------+--------+

### renaming columns

In [38]:
df_spark.withColumnRenamed('fullname','father').show()

+----+---+----------+-------+
|name|age|experience| father|
+----+---+----------+-------+
|ajas| 23|     1 yrs|ajas.sr|
|arun| 24|     3 yrs|arun.sr|
|jais| 27|     7 yrs|jais.sr|
+----+---+----------+-------+

- droping columns
- dropping rows
- various parameters in dropping functionalities
- handling missing values by mean,median,mode

In [39]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice').getOrCreate()

In [40]:
py_sp=spark.read.csv('exp.csv',header=True,inferSchema=True)

In [41]:
py_sp.show()

+----+----+-----+----+
|name| age|  exp| sal|
+----+----+-----+----+
|   a|  23|1 yrs|2000|
|   b|NULL|2 yrs|3000|
|   c|  28|3 yrs|3900|
|NULL|  23|4 yrs|2000|
+----+----+-----+----+

In [42]:
py_sp.drop('sal').show()

+----+----+-----+
|name| age|  exp|
+----+----+-----+
|   a|  23|1 yrs|
|   b|NULL|2 yrs|
|   c|  28|3 yrs|
|NULL|  23|4 yrs|
+----+----+-----+

In [43]:
py_sp.na.drop().show()

+----+---+-----+----+
|name|age|  exp| sal|
+----+---+-----+----+
|   a| 23|1 yrs|2000|
|   c| 28|3 yrs|3900|
+----+---+-----+----+

In [44]:
#any==how
py_sp.na.drop(how="all").show()

+----+----+-----+----+
|name| age|  exp| sal|
+----+----+-----+----+
|   a|  23|1 yrs|2000|
|   b|NULL|2 yrs|3000|
|   c|  28|3 yrs|3900|
|NULL|  23|4 yrs|2000|
+----+----+-----+----+

In [45]:
py_sp.na.drop(how="any",thresh=2).show()

+----+----+-----+----+
|name| age|  exp| sal|
+----+----+-----+----+
|   a|  23|1 yrs|2000|
|   b|NULL|2 yrs|3000|
|   c|  28|3 yrs|3900|
|NULL|  23|4 yrs|2000|
+----+----+-----+----+

In [46]:
py_sp.na.drop(how="any").show()

+----+---+-----+----+
|name|age|  exp| sal|
+----+---+-----+----+
|   a| 23|1 yrs|2000|
|   c| 28|3 yrs|3900|
+----+---+-----+----+

In [47]:
py_sp.na.drop(how="any",subset=['age']).show()

+----+---+-----+----+
|name|age|  exp| sal|
+----+---+-----+----+
|   a| 23|1 yrs|2000|
|   c| 28|3 yrs|3900|
|NULL| 23|4 yrs|2000|
+----+---+-----+----+

In [48]:
py_sp.na.fill('Missing Values').show()

+--------------+----+-----+----+
|          name| age|  exp| sal|
+--------------+----+-----+----+
|             a|  23|1 yrs|2000|
|             b|NULL|2 yrs|3000|
|             c|  28|3 yrs|3900|
|Missing Values|  23|4 yrs|2000|
+--------------+----+-----+----+

In [49]:
py_sp.na.fill(4,'age').show()

+----+---+-----+----+
|name|age|  exp| sal|
+----+---+-----+----+
|   a| 23|1 yrs|2000|
|   b|  4|2 yrs|3000|
|   c| 28|3 yrs|3900|
|NULL| 23|4 yrs|2000|
+----+---+-----+----+

In [50]:
#py_sp.na.fill(4,['age','income']).show()

In [51]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
    inputCols=['age','sal'],
    outputCols=["{}_imputed".format(c) for c in ['age','sal']]
).setStrategy("mean")

In [52]:
imputer.fit(py_sp).transform(py_sp).show()

+----+----+-----+----+-----------+-----------+
|name| age|  exp| sal|age_imputed|sal_imputed|
+----+----+-----+----+-----------+-----------+
|   a|  23|1 yrs|2000|         23|       2000|
|   b|NULL|2 yrs|3000|         24|       3000|
|   c|  28|3 yrs|3900|         28|       3900|
|NULL|  23|4 yrs|2000|         23|       2000|
+----+----+-----+----+-----------+-----------+

In [53]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
    inputCols=['age','sal'],
    outputCols=["{}_imputed".format(c) for c in ['age','sal']]
).setStrategy("median")

___

- filter operations
- & , | , == 
- ~

In [54]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [55]:
df=spark.read.csv('sal.csv',header=True,inferSchema=True)

In [56]:
df.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|ajas| 23|     1 yrs|
|arun| 24|     3 yrs|
|jais| 27|     7 yrs|
+----+---+----------+

In [57]:
df.filter("age<=25").show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|ajas| 23|     1 yrs|
|arun| 24|     3 yrs|
+----+---+----------+

In [58]:
df.filter("age<=25").select(['name','age']).show()

+----+---+
|name|age|
+----+---+
|ajas| 23|
|arun| 24|
+----+---+

In [59]:
df.filter(df['age']<=26).show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|ajas| 23|     1 yrs|
|arun| 24|     3 yrs|
+----+---+----------+

In [60]:
df.filter((df['age']<=26)&(df['name']=='ajas') ).show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|ajas| 23|     1 yrs|
+----+---+----------+

In [61]:
df=spark.read.csv('employee_data.csv',header=True,inferSchema=True)

In [62]:
df.show()

+-----------+---+------+-----------------+
|       Name|Age|Salary|      Designation|
+-----------+---+------+-----------------+
| Employee_1| 49|122891|Software Engineer|
| Employee_2| 42| 77224|  Sales Executive|
| Employee_3| 27|136994|          Manager|
| Employee_4| 57| 74175|          Analyst|
| Employee_5| 38|138765|          Manager|
| Employee_6| 29| 64244|Software Engineer|
| Employee_7| 46| 51236|               HR|
| Employee_8| 45|121571|Software Engineer|
| Employee_9| 34| 37405|          Analyst|
|Employee_10| 33| 50522|Software Engineer|
|Employee_11| 55|110087|          Analyst|
|Employee_12| 47|125566|  Sales Executive|
|Employee_13| 57| 71867|          Manager|
|Employee_14| 54| 93453|          Manager|
|Employee_15| 46| 95744|               HR|
|Employee_16| 58| 66638|  Sales Executive|
|Employee_17| 51| 68570|          Manager|
|Employee_18| 55| 79381|          Analyst|
|Employee_19| 39|129697|               HR|
|Employee_20| 35| 37871|               HR|
+-----------+---+------+-----------------+

In [63]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Designation: string (nullable = true)

In [64]:
df.groupBy('Designation').sum().show()

+-----------------+--------+-----------+
|      Designation|sum(Age)|sum(Salary)|
+-----------------+--------+-----------+
|  Sales Executive|     147|     269428|
|               HR|     166|     314548|
|          Analyst|     201|     301048|
|          Manager|     227|     509649|
|Software Engineer|     156|     359228|
+-----------------+--------+-----------+

In [65]:
df.groupBy('Designation').count().show()

+-----------------+-----+
|      Designation|count|
+-----------------+-----+
|  Sales Executive|    3|
|               HR|    4|
|          Analyst|    4|
|          Manager|    5|
|Software Engineer|    4|
+-----------------+-----+

In [66]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    1753901|
+-----------+

In [67]:
df.groupBy('Designation').min().show()

+-----------------+--------+-----------+
|      Designation|min(Age)|min(Salary)|
+-----------------+--------+-----------+
|  Sales Executive|      42|      66638|
|               HR|      35|      37871|
|          Analyst|      34|      37405|
|          Manager|      27|      68570|
|Software Engineer|      29|      50522|
+-----------------+--------+-----------+

In [68]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [69]:
df=spark.read.csv('salary.csv',header=True,inferSchema=True)

In [70]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- designation: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [71]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age","experience"],outputCol="Indep features")

In [72]:
output=featureassembler.transform(df)

In [73]:
output.show()

+---------------+--------------------+---+----------+------+--------------+
|           name|         designation|age|experience|salary|Indep features|
+---------------+--------------------+---+----------+------+--------------+
|       John Doe|   Software Engineer| 28|         5| 70000|    [28.0,5.0]|
|     Jane Smith|      Data Scientist| 32|         7| 90000|    [32.0,7.0]|
|  Emily Johnson|     Project Manager| 35|        10|110000|   [35.0,10.0]|
|  Michael Brown|    Senior Developer| 30|         8| 85000|    [30.0,8.0]|
|    Sarah Davis|         UX Designer| 27|         4| 65000|    [27.0,4.0]|
|   Chris Wilson|     DevOps Engineer| 29|         6| 75000|    [29.0,6.0]|
|Patricia Miller|          HR Manager| 40|        15| 95000|   [40.0,15.0]|
| James Anderson|System Administrator| 33|         8| 80000|    [33.0,8.0]|
|   Linda Thomas|    Business Analyst| 36|        12| 92000|   [36.0,12.0]|
|     Robert Lee|     Quality Analyst| 31|         7| 78000|    [31.0,7.0]|
| Barbara Harris|      Technical Lead| 38|        14|100000|   [38.0,14.0]|
|    David Clark|              Intern| 22|         0| 30000|    [22.0,0.0]|
| Jessica Walker|   Marketing Manager| 34|        10| 88000|   [34.0,10.0]|
|    Daniel Hall|  Frontend Developer| 26|         3| 62000|    [26.0,3.0]|
|    Susan Allen|   Backend Developer| 29|         6| 74000|    [29.0,6.0]|
|     Mark Young|    Network Engineer| 32|         9| 81000|    [32.0,9.0]|
|     Nancy King|           Recruiter| 28|         5| 67000|    [28.0,5.0]|
|    Paul Wright|Database Administ...| 37|        13| 95000|   [37.0,13.0]|
|    Karen Scott|     Product Manager| 39|        15|115000|   [39.0,15.0]|
|    Steven Hill|      Cloud Engineer| 31|         7| 87000|    [31.0,7.0]|
+---------------+--------------------+---+----------+------+--------------+

In [75]:
output.columns

['name', 'designation', 'age', 'experience', 'salary', 'Indep features']

In [76]:
finalized_data=output.select("Indep features","salary")

In [77]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Indep features',labelCol='salary')
regressor=regressor.fit(train_data)

In [78]:
regressor.intercept

-11391.663134089524

In [79]:
regressor.coefficients

DenseVector([2615.1759, 1091.9881])

In [80]:
pred=regressor.evaluate(test_data)

In [81]:
pred.predictions.show()

+--------------+------+------------------+
|Indep features|salary|        prediction|
+--------------+------+------------------+
|    [26.0,3.0]| 62000|59878.875229617115|
|    [29.0,6.0]| 75000| 71000.36738731113|
|    [31.0,7.0]| 78000| 77322.70736187635|
|   [35.0,10.0]|110000| 91059.37544157093|
|   [36.0,12.0]| 92000| 95858.52762469972|
+--------------+------+------------------+

In [82]:
pred.meanSquaredError,

(78918090.14792202,)

In [83]:
pred.meanAbsoluteError

5919.440440864841